.contactsBlock {
    height: 40vh;
    background-color: #e7bcc2;
}

.contactsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: gray;
}

.button {
    height: 40px;
    width: 170px;
    background-color: #696868;
    border: none;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.input {
    margin-bottom: 2px;
    width: 233px;
}

.textarea {
    margin-top: 2px;
    width: 235px;
}