.remoteWorkBlock {
    background-color: #e8e8e8;
}

.remoteWorkContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: gray;
    text-align: center;
}

.button {
    height: 40px;
    width: 120px;
    background-color: #696868;
    border: none;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}