.mainBlock {
    height: 100vh;
    background-color: #e3cace;
}
.text {
    width: 400px;
    background-color: antiquewhite;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
}
@media screen and (max-height: 588px){
    .mainBlock {
        height: auto;
    }
}