.footerBlock {
    min-height: 30vh;
    background-color: #b0e0b0;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: gray;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: gray;
}

.icons {
    width: 280px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 30px;
    margin-top: 10px;
}
