.projectsBlock {
    min-height: 100vh;
    background-color: #c0bfbf;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: gray;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}