@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 100px 0;
  @media screen and (max-width: 750px){
    padding: 80px 0;
  }
  .projectsContainer {
    @include flexable(flex-start, center, column);
    @include container();
    .projects {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 30px;
      @include flexable(space-around, flex-start, row);
    }
  }
}



